.placeholder-wrapper {
  margin: 20px 0;
}
.placeholder-button,
.modal-button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
.placeholder-button:hover,
.placeholder-button:active,
.placeholder-button:focus,
.modal-button:hover,
.modal-button:active,
.modal-button:focus {
  border: 2px solid #86939E;
  outline: none;
}
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.modal-window {
  border: 1px solid #86939E;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 480px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-image {
  width: 400px;
}
.modal-button {
  margin-bottom: 30px;
}
.modal-loading-icon {
  background-image: url('./assets/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  height: 480px;
}